
* {
  box-sizing: border-box;
}

body {
  background-image: url(./Photo/background_test.jpg);
  font-family: "Roboto", Helvetica, sans-serif;
}

.column {
  float: left;
  width: 35%;
  padding: 50px 30px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 0 -5px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color:rgba(15, 50, 167, 0.45);
  border-radius: 13%;
}

img {
  border-radius: 50%;
}
