* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Roboto", Helvetica, sans-serif;
  background-image: url(./Photo/background.png);
  background-size: cover;
}

.column {
  float: left;
  width: 35%;
  padding: 50px 30px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 0 -5px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card:hover {
  transition: transform .5s;
  transform: scale(1.05);
  background-color:rgba(240, 99, 6, 0.55);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.8);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color:rgba(240, 99, 6, 0.45);
  border-radius: 13%;
}

.roundimg {
  border-radius: 50%;
}
