* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Helvetica, sans-serif;
    min-height: 100vh;
    background-image: url(../Photo/background.png);
    background-size: cover;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding-left: 2%;
    padding-top: 2%;
}

.one, .two, .three {
    padding-bottom: 6%;
}

.five, .six {
    padding-bottom: 4%;
    max-width: 480px;
}

.six {
    padding-right: 4%;
}

.four {
    padding-bottom: 4%;
    max-width: 400px;
}

.seven {
    padding-top: 15%;
}

ul {
    list-style-type: none;
}

.five, .six {
   background: rgba(255, 255, 255, 0.5);
   border-radius: 10%;
   max-height: 420px;
}

.card:hover {
    transition: transform .5s;
    transform: scale(1.05);
    background-color:rgba(240, 99, 6, 0.55);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.8);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color:rgba(240, 99, 6, 0.45);
    border-radius: 13%;
}

img {
    border-radius: 10%;
}
